*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

.nav{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.title img{
    width: 180px;
    height: 58px;
}

.navitems ul{
    display: flex;
    list-style-type: none;
}
.items{
    margin:0 20px;
    font-size: 17px;
    font-family: 'Segoe UI';
    font-weight: 500;
}
svg{
    width: 19px;
    height: 19px; 
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
    margin: 90px auto;
    gap: 30px;
    
}
.head{
    font-size: 50px;
    font-family: 'Segoe UI';
    font-weight: 400;
}
.head img{
    margin-left: 22px;
}
.para{
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI';
    font-weight: 400;
}
.btn{
    border-radius: 5px;
    background-color: #00b6d1;
    padding: 15px 20px;
    color: white;
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 700;
}
.gri{
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 52vw;
    margin: auto;
}
.text span{
    font-family: 'Segoe UI';
    font-size: 23px;
    color: rgb(30, 30, 30);
    margin-left: 20px;
    margin-right: 5px;
}
.box{
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr;
    width: 50vw;
    margin: auto;
    background-color: rgb(73, 73, 124);
}
.item{
    background-color: #fbfbfb;
    border-radius: 6px;
    padding: 20px;
}

.btnnn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    background-color: #00b6d1 ;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.green{
    background-color: #5cb85c ;
    border: none;
    padding: 10px 10px;
    margin: 0 5px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.grid{
    width: 52vw;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px
}
.item-lang{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 50px;
}
@media screen and (max-width: 1100px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .nav{
        background-color:rgb(251, 251, 197);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

  
}
@media screen and (max-width: 550px) {
    .items{
        margin: 2px;
      }
}